#loginscreen
<div class="fb-login-button">
#fb-login.fb_button(style='background-position: left -188px')
  a.fb_button_medium(href='/auth/facebook')
    span#fb_login_text.fb_button_text
      Connect with Facebook